a:visited, a:link {
  color: white;
}

input:focus {
  outline: 2px solid #86C6E5;
  border-radius: 2em; /* this line doesn't work*/
}

.hoverCadence:hover {
  background-color: #f1fafe;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 4vh;
  height: 4vh;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
